<div class="w-100">
  <h3 class="mb-5">Vaardigheden</h3>

  <div class="resume-item justify-content-between mb-5">
    <div class="row">
      <h2 class="mb-0 mx-2">
        <fa-icon [icon]="faAngular"></fa-icon>
      </h2>
      <h2 class="mb-0 mx-2"><fa-icon [icon]="faHtml5"></fa-icon></h2>
      <h2 class="mb-0 mx-2"><fa-icon [icon]="faCss3Alt"></fa-icon></h2>
      <h2 class="mb-0 mx-2"><fa-icon [icon]="faSass"></fa-icon></h2>
      <h2 class="mb-0 mx-2"><fa-icon [icon]="faJs"></fa-icon></h2>
      <h2 class="mb-0 mx-2"><fa-icon [icon]="faBootstrap"></fa-icon></h2>
      <h2 class="mb-0 mx-2"><fa-icon [icon]="faNodeJs"></fa-icon></h2>
      <h2 class="mb-0 mx-2"><fa-icon [icon]="faDocker"></fa-icon></h2>
      <h2 class="mb-0 mx-2"><fa-icon [icon]="faGithub"></fa-icon></h2>
    </div>
  </div>
</div>
