<div class="w-100">
  <h2 class="mb-5">Skills</h2>

  <div class="resume-item justify-content-between mb-5">
    <div class="row resume-content mb-4">
      <h3 class="col-3 mb-0"><fa-icon [icon]="faAngular"></fa-icon></h3>
      <div class="col-3 my-auto">
        <ngb-rating class="star" [rate]="3"></ngb-rating>
      </div>
      <h3 class="col-3 mb-0"><fa-icon [icon]="faHtml5"></fa-icon></h3>
      <div class="col-3 my-auto">
        <ngb-rating class="star" [rate]="4"></ngb-rating>
      </div>
    </div>
    <div class="row resume-content mb-4">
      <h3 class="col-3 mb-0"><fa-icon [icon]="faCss3Alt"></fa-icon></h3>
      <div class="col-3 my-auto">
        <ngb-rating class="star" [rate]="3.5"></ngb-rating>
      </div>
      <h3 class="col-3 mb-0"><fa-icon [icon]="faBootstrap"></fa-icon></h3>
      <div class="col-3 my-auto">
        <ngb-rating class="star" [rate]="3.5"></ngb-rating>
      </div>
    </div>
    <div class="row resume-content mb-4">
      <h3 class="col-3 mb-0"><fa-icon [icon]="faJs"></fa-icon></h3>
      <div class="col-3 my-auto">
        <ngb-rating class="star" [rate]="2.5"></ngb-rating>
      </div>
      <h3 class="col-3 mb-0"><fa-icon [icon]="faSass"></fa-icon></h3>
      <div class="col-3 my-auto">
        <ngb-rating class="star" [rate]="2.5"></ngb-rating>
      </div>
    </div>
    <div class="row resume-content mb-4">
      <h3 class="col-3 mb-0"><fa-icon [icon]="faNodeJs"></fa-icon></h3>
      <div class="col-3 my-auto">
        <ngb-rating class="star" [rate]="2"></ngb-rating>
      </div>
      <h3 class="col-3 mb-0"><fa-icon [icon]="faGithub"></fa-icon></h3>
      <div class="col-3 my-auto">
        <ngb-rating class="star" [rate]="3.5"></ngb-rating>
      </div>
    </div>
    <div class="row resume-content mb-4">
      <h3 class="col-3 mb-0"><fa-icon [icon]="faDocker"></fa-icon></h3>
      <div class="col-3 my-auto">
        <ngb-rating class="star" [rate]="1.5"></ngb-rating>
      </div>
      <h3 class="col-3 mb-0">Kubernetes</h3>
      <div class="col-3 my-auto">
        <ngb-rating class="star" [rate]="1"></ngb-rating>
      </div>
    </div>
    <div class="row resume-content mb-4">
      <h3 class="col-3 mb-0">Unity3D</h3>
      <div class="col-3 my-auto">
        <ngb-rating class="star" [rate]="2"></ngb-rating>
      </div>
      <h3 class="col-3 mb-0">C#</h3>
      <div class="col-3 my-auto">
        <ngb-rating class="star" [rate]="2"></ngb-rating>
      </div>
    </div>
    <div class="row resume-content mb-4">
      <h3 class="col-3 mb-0">3DsMax</h3>
      <div class="col-3 my-auto">
        <ngb-rating class="star" [rate]="3"></ngb-rating>
      </div>
      <h3 class="col-3 mb-0">LateX</h3>
      <div class="col-3 my-auto">
        <ngb-rating class="star" [rate]="1"></ngb-rating>
      </div>
    </div>
  </div>
</div>
