<div class="w-100">
  <h2 class="mb-5">Skills</h2>

  <div class="resume-item justify-content-between mb-5">
    <div class="row resume-content mb-4">
      <h3 class="col-3 mb-0">Angular</h3>
      <div class="col-3 my-auto">
        <ngb-rating class="star" [rate]="3"></ngb-rating>
      </div>
      <h3 class="col-3 mb-0">HTML5</h3>
      <div class="col-3 my-auto">
        <ngb-rating class="star" [rate]="4"></ngb-rating>
      </div>
    </div>
    <div class="row resume-content mb-4">
      <h3 class="col-3 mb-0">CSS/SASS</h3>
      <div class="col-3 my-auto">
        <ngb-rating class="star" [rate]="3.5"></ngb-rating>
      </div>
      <h3 class="col-3 mb-0">Bootstrap</h3>
      <div class="col-3 my-auto">
        <ngb-rating class="star" [rate]="3.5"></ngb-rating>
      </div>
    </div>
    <div class="row resume-content mb-4">
      <h3 class="col-3 mb-0">Javascript</h3>
      <div class="col-3 my-auto">
        <ngb-rating class="star" [rate]="2.5"></ngb-rating>
      </div>
      <h3 class="col-3 mb-0">Typescript</h3>
      <div class="col-3 my-auto">
        <ngb-rating class="star" [rate]="2.5"></ngb-rating>
      </div>
    </div>
    <div class="row resume-content mb-4">
      <h3 class="col-3 mb-0">Node.js</h3>
      <div class="col-3 my-auto">
        <ngb-rating class="star" [rate]="2"></ngb-rating>
      </div>
      <h3 class="col-3 mb-0">git</h3>
      <div class="col-3 my-auto">
        <ngb-rating class="star" [rate]="3.5"></ngb-rating>
      </div>
    </div>
    <div class="row resume-content mb-4">
      <h3 class="col-3 mb-0">Docker</h3>
      <div class="col-3 my-auto">
        <ngb-rating class="star" [rate]="1.5"></ngb-rating>
      </div>
      <h3 class="col-3 mb-0">Kubernetes</h3>
      <div class="col-3 my-auto">
        <ngb-rating class="star" [rate]="1"></ngb-rating>
      </div>
    </div>
    <div class="row resume-content mb-4">
      <h3 class="col-3 mb-0">Unity3D</h3>
      <div class="col-3 my-auto">
        <ngb-rating class="star" [rate]="2"></ngb-rating>
      </div>
      <h3 class="col-3 mb-0">C#</h3>
      <div class="col-3 my-auto">
        <ngb-rating class="star" [rate]="2"></ngb-rating>
      </div>
    </div>
    <div class="row resume-content mb-4">
      <h3 class="col-3 mb-0">3DsMax</h3>
      <div class="col-3 my-auto">
        <ngb-rating class="star" [rate]="3"></ngb-rating>
      </div>
      <h3 class="col-3 mb-0">LateX</h3>
      <div class="col-3 my-auto">
        <ngb-rating class="star" [rate]="1"></ngb-rating>
      </div>
    </div>
  </div>
</div>
