<div class="w-100">
  <h2 class="mb-5">Education</h2>

  <div
    class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5"
  >
    <div class="resume-content">
      <h3 class="mb-0">Hanzehogeschool Groningen</h3>
      <div class="subheading mb-3">Bachelor of Science</div>
      <div>Communication & Multimedia Design</div>
      <p><span class="font-weight-bold">Scriptie:</span> ’Het faciliteren van besluitvorming door een mobiele applicatie</p>
    </div>
    <div class="resume-date text-md-right">
      <span class="text-danger">2011 - 2017</span>
    </div>
  </div>
</div>
