<div class="w-100">
  <h1 class="mb-0">
    Tzi Yang
    <span class="text-primary">Lum</span>
  </h1>
  <div class="subheading mb-5">
    Groningen ·
    <a href="mailto:tziyanglum@outlook.com">tziyanglum@outlook.com</a>
  </div>
  <p class="lead mb-5">
    In het afgelopen jaar heb ik mezelf ontwikkeld tot een junior developer.
    Ik heb ervaring met de hulpmiddelen Angular, Bootstrap, Git,
    Shell en beheers ik de programmeertalen HTML5, SASS en
    Javascript/Typescript.
  </p>
  <div class="social-icons">
    <a href="#">
      <fa-icon [icon]="faLinkedinIn"></fa-icon>
    </a>
    <a href="#">
      <fa-icon [icon]="faGithub"></fa-icon>
    </a>
    <a href="#">
      <fa-icon [icon]="faFacebookF"></fa-icon>
    </a>
  </div>
</div>
