<div class="w-100">
  <h1 class="mb-0">
    Tzi Yang
    <span class="text-primary">Lum</span>
  </h1>
  <div class="subheading mb-5">
    Groningen ·
    Front-end Developer
  </div>
  <p class="lead mb-5">
    Een gedreven junior developer die gretig is voor nieuwe uitdagingen binnen
    web development. Ervaring met de tools Angular, Bootstrap, Git, CLI en
    beheers de programmeertalen HTML5, SASS en Javascript/Typescript.
  </p>
  <div class="social-icons">
    <a href="https://www.linkedin.com/in/tziyanglum/" target="_blank">
      <fa-icon [icon]="faLinkedinIn"></fa-icon>
    </a>
    <a href="https://github.com/tziyanglum" target="_blank">
      <fa-icon [icon]="faGithub"></fa-icon>
    </a>
    <a href="mailto:tziyanglum@outlook.com">
      <fa-icon [icon]="faEnvelope"></fa-icon>
    </a>
  </div>
</div>
