<div class="container-fluid p-0">
  <app-about
    class="resume-section p-3 p-lg-5 d-flex align-items-center"
    id="about"
  ></app-about>

  <hr class="m-0" />

  <app-experience
    class="resume-section p-3 p-lg-5 d-flex justify-content-center"
    id="experience"
  ></app-experience>

  <hr class="m-0" />

  <app-education
    class="resume-section p-3 p-lg-5 d-flex align-items-center"
    id="education"
  ></app-education>

  <hr class="m-0" />

  <app-skills
    class="resume-section p-3 p-lg-5 d-flex align-items-center"
    id="skills"
  ></app-skills>

  <hr class="m-0" />

  <app-interest
    class="resume-section p-3 p-lg-5 d-flex align-items-center"
    id="interests"
  ></app-interest>

  <hr class="m-0" />
</div>
