<div class="container-fluid p-0">
  <section
    class="resume-section p-3 p-lg-5 d-flex align-items-center"
    id="about"
  >
    <app-about></app-about>
  </section>

  <hr class="m-0" />

  <section
    class="resume-section p-3 p-lg-5 d-flex justify-content-center"
    id="experience"
  >
    <app-experience></app-experience>
  </section>

  <hr class="m-0" />

  <section
    class="resume-section p-3 p-lg-5 d-flex align-items-center"
    id="education"
  >
    <app-education></app-education>
  </section>

  <hr class="m-0" />

  <section
    class="resume-section p-3 p-lg-5 d-flex align-items-center"
    id="skills"
  >
    <app-skills></app-skills>
  </section>

  <hr class="m-0" />

  <section
    class="resume-section p-3 p-lg-5 d-flex align-items-center"
    id="interests"
  >
    <app-interest></app-interest>
  </section>

  <hr class="m-0" />
</div>
