<div class="w-100">
  <h2 class="mb-5">Werkervaring</h2>

  <div
    class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5"
  >
    <div class="resume-content">
      <h3 class="mb-0">Frontend Developer</h3>
      <div class="subheading mb-3">IBM: Parking App</div>
      <p>
        Parking App, een IBM Client Innovation Center project betreft een
        webapplicatie waarbij werknemers parkeerplekken kunnen reserveren binnen
        het bedrijf.
      </p>
      <ul>
        <li>Herstructureren en verbeteren van bestaande codes</li>
        <li>Implementeren van nieuwe functies aan het platform</li>
        <li>Controleren en verbeteren van codes in git</li>
      </ul>
    </div>
    <div class="resume-date text-md-right">
      <span class="text-primary">Juni 2019 - Aug 2019</span>
    </div>
  </div>

  <div
    class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5"
  >
    <div class="resume-content">
      <h3 class="mb-0">Web Developer</h3>
      <div class="subheading mb-3">Intelitec Solutions</div>
      <p>
        Capitalize on low hanging fruit to identify a ballpark value added
        activity to beta test. Override the digital divide with additional
        clickthroughs from DevOps. Nanotechnology immersion along the
        information highway will close the loop on focusing solely on the bottom
        line.
      </p>
    </div>
    <div class="resume-date text-md-right">
      <span class="text-primary">December 2011 - March 2013</span>
    </div>
  </div>

  <div
    class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5"
  >
    <div class="resume-content">
      <h3 class="mb-0">Junior Web Designer</h3>
      <div class="subheading mb-3">Shout! Media Productions</div>
      <p>
        Podcasting operational change management inside of workflows to
        establish a framework. Taking seamless key performance indicators
        offline to maximise the long tail. Keeping your eye on the ball while
        performing a deep dive on the start-up mentality to derive convergence
        on cross-platform integration.
      </p>
    </div>
    <div class="resume-date text-md-right">
      <span class="text-primary">July 2010 - December 2011</span>
    </div>
  </div>

  <div
    class="resume-item d-flex flex-column flex-md-row justify-content-between"
  >
    <div class="resume-content">
      <h3 class="mb-0">Web Design Intern</h3>
      <div class="subheading mb-3">Shout! Media Productions</div>
      <p>
        Collaboratively administrate empowered markets via plug-and-play
        networks. Dynamically procrastinate B2C users after installed base
        benefits. Dramatically visualize customer directed convergence without
        revolutionary ROI.
      </p>
    </div>
    <div class="resume-date text-md-right">
      <span class="text-primary">September 2008 - June 2010</span>
    </div>
  </div>
</div>
