<div class="w-100">
  <h2 class="mb-5">Werkervaring</h2>

  <div
    class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5"
  >
    <div class="resume-content">
      <h3 class="mb-0">Frontend Developer</h3>
      <div class="subheading mb-3">IBM: Parking App</div>
      <p>
        Parking App, een IBM Client Innovation Center project betreft een
        webapplicatie waarbij werknemers parkeerplekken kunnen reserveren binnen
        het bedrijf.
      </p>
      <ul>
        <li>Herstructureren en verbeteren van bestaande codes</li>
        <li>Implementeren van nieuwe functies aan het platform</li>
        <li>Controleren en verbeteren van codes in git</li>
      </ul>
    </div>
    <div class="resume-date text-md-right">
      <span class="text-primary">Juni 2019 - September 2019</span>
    </div>
  </div>

  <div
    class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5"
  >
    <div class="resume-content">
      <h3 class="mb-0">Full-stack Developer</h3>
      <div class="subheading mb-3">IBM: Eurasian Resources Group</div>
      <p>
        Eurasion Research Group is een toonaangevend gediversieerde producent
        van natuurlijk hulp-bronnen. Met inzet van blockchain wil ERG de
        traceerbaarheid en herkomst van kobalt in de pro-ductieketen verbeteren.
      </p>
      <ul>
        <li>Herstructureren en verbeteren van bestaande codes</li>
        <li>Implementeren van nieuwe functies aan het platform</li>
        <li>Controleren en verbeteren van codes in git</li>
        <li>Analyseren en creëren van Docker images</li>
        <li>Bestuderen en bewerken van Kubernetes bestanden</li>
        <li>
          Uitvoeren en schrijven van Unit Test, Integration Test en End-to-End
          Test
        </li>
      </ul>
    </div>
    <div class="resume-date text-md-right">
      <span class="text-primary">April 2019 - Juni 2019</span>
    </div>
  </div>

  <div
    class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5"
  >
    <div class="resume-content">
      <h3 class="mb-0">Frontend developer</h3>
      <div class="subheading mb-3">IBM: Innovation and platform</div>
      <p>
        Innovation and platform, een IBM Client Innovation Center project is een
        webapplicatie voor alleinterne projecten en ideeën.
      </p>
      <ul>
        <li>Herstructureren en verbeteren van bestaande codes</li>
        <li>Implementeren van nieuwe functies aan het platform</li>
        <li>Controleren en verbeteren van codes in git</li>
        <li>Controleren van codes in git versiebeheersysteem</li>
        <li>Opsporen en oplossen van fouten in het platform</li>
      </ul>
    </div>
    <div class="resume-date text-md-right">
      <span class="text-primary">Januari 2019 - April 2019</span>
    </div>
  </div>

  <div
    class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5"
  >
    <div class="resume-content">
      <h3 class="mb-0">Sales advisor</h3>
      <div class="subheading mb-3">KPN</div>
      <p>
        KPN is leverancier van telecommunicatie- en ICT-diensten en richt zich
        op kwalitatieve producten,optimale klanttevredenheid en duurzaamheid
      </p>
      <ul>
        <li>
          Ondersteunen van de klanten door als eerste aanspreekpunt te fungeren
        </li>
        <li>Actief luisteren naar klantbehoeftes</li>
        <li>
          Analyseren van klantproblemen en bieden van bijpassende oplossing
        </li>
        <li>
          Adviseren van klanten voor internet en televisiepakket of mobiele
          abonnement
        </li>
      </ul>
    </div>
    <div class="resume-date text-md-right">
      <span class="text-primary">December 2017 - Oktober 2018</span>
    </div>
  </div>

  <div
    class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5"
  >
    <div class="resume-content">
      <h3 class="mb-0">Designer/Developer</h3>
      <div class="subheading mb-3">KPN</div>
      <p>
        Het Wenckebach Instituut, onderdeel van het Universitair Medisch Centrum
        Groningen (UMCG) iseen expertisecentrum op het gebied van grootschalig
        onderwijs, specialistische opleidingen enmaatwerk inzake professionele
        ontwikkelingen
      </p>
      <ul>
        <li>
          Analyseren en onderzoeken van User Experience en Usability
        </li>
        <li>
          Ontwerpen en ontwikkelen van een technisch en functioneel ontwerp
        </li>
        <li>
          Opzetten en toepassen van evaluatietechnieken
        </li>
        <li>
          Oplossen van complexe vraagstukken
        </li>
      </ul>
    </div>
    <div class="resume-date text-md-right">
      <span class="text-primary">Mei 2017 - Oktober 2017</span>
    </div>
  </div>

  <div
    class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5"
  >
    <div class="resume-content">
      <h3 class="mb-0">3D Artist/Developer</h3>
      <div class="subheading mb-3">KPN</div>
      <p>
        Studio Bleep is een serious gamebedrijf en hebben als visie om de
        positieve kracht van gam-ing voor maatschappelijke doeleinden te
        gebruiken. Hierbij zetten ze games in voor beweging,Augmented Reality en
        illustraties
      </p>
      <ul>
        <li>
          Ontwikkelen van Assets in 3DsMax en Adobe Photoshop
        </li>
        <li>
          Creëren van een 3D omgeving in Unity3D
        </li>
        <li>
          Uitvoeren van een marktonderzoek naar groeimogelijkheden voor StoryWall
        </li>
      </ul>
    </div>
    <div class="resume-date text-md-right">
      <span class="text-primary">April 2014 - Augustus 2014</span>
    </div>
  </div>
</div>
